.background {
    background-color: #693030;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', 'sans-serif';
  }
  .background {
    text-align: center;
    text-emphasis-color: white;
  }